<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@task.errors.count, "error") %> prevented the task from saving:
    </h2>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="editbox">
<%= form_for [@project, @task] do |f| %>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

  <p>
    <%= f.label :user %><br>
    <%= f.collection_select :user, User.all, :id, :firstname, prompt: true %>
  </p>

  <p>
    <%= f.label :state %><br>
    <%= f.select :state, [['offen'],['in Arbeit'],['fertig']] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
