<% @task_css_class = "task_item" %>
<% if task.date < Date.today && task.state != 'finished'%>
  <% @task_css_class += " overdue" %>
<% end %>
<% if (Date.today + 1.days == task.date) || (Date.today == task.date) %>
  <% @task_css_class += " soon_tm" %>
<% end %>
<% if task.state == "finished" %>
  <% @task_css_class += " finished_bg" %>
<% end %>
<div class="<%= @task_css_class %>">
<div class="task_description">
<p>
  <%= task.description %>
</p>
</div>
<div class="task_info">
<p>
   Due to: <%= task.date.strftime("%d.%m.%Y") %>
</p>

<p>
  State: <%= task.state %>
</p>

<p>
  Editor: <%=  User.find(task.user_id).fullname %>
</p>
</div>
<div class="task_edit_buttons">
  <%= link_to 'Edit', edit_project_task_path(task.project, task) %>
  <%= link_to 'Delete', [task.project, task], method: :delete, data: { confirm: 'Sicher?' }, :class => "delete" %>
</div>
</div>
