<div class="header">
<h1>Projects</h1>
<%= link_to 'New project', new_project_path %>
</div>
<% @projects.each do |project| %>
<div class="project_item">
  <p class="project_item_title"><%= link_to project.title, project_path(project) %></p>
  <p class="project_links">
    <span class="project_info">Due to: <%= project.date.strftime("%d.%m.%Y") %> | <%= project.time.strftime("%H:%M %Z") %></span>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Sicher?' }, :class => "delete" %>
  </p>
  <p class="project_item_stats">
    <span class="open">open: <%= Task.where(project_id: project.id).where(state: 'open').count %></span>
    <span class="inprogress">in progress: <%= Task.where(project_id: project.id).where(state: 'in progress').count %></span>
    <span class="finished">finished: <%= Task.where(project_id: project.id).where(state: 'finished').count %></span>
    <span class="overduestat">overdue: <%= Task.where(project_id: project.id).where("date < ?", Date.today).where().not(state: 'finished').count %></span>
  </p>
</div>
<% end %>
