<div class="header">
<h1><%= @project.title %></h1>
<%= link_to 'Back', projects_path %> |
<%= link_to 'Edit', edit_project_path(@project) %>
<p>
  Due to: <%= @project.date.strftime("%d.%m.%Y") %> | <%= @project.time.strftime("%H:%M %Z") %>
</p>
<p class="project_item_stats">
  <span class="open">open: <%= Task.where(project_id: @project.id).where(state: 'open').count %></span>
  <span class="inprogress">in progress: <%= Task.where(project_id: @project.id).where(state: 'in progress').count %></span>
  <span class="finished">finished: <%= Task.where(project_id: @project.id).where(state: 'finished').count %></span>
  <span class="overduestat">overdue: <%= Task.where(project_id: @project.id).where("date < ?", Date.today).where().not(state: 'finished').count %></span>
</p>
</div>

<div class="taskscontainer">
<h2>Tasks</h2>
<%= render @project.tasks.where().not(state: "finished") %>
<%= link_to '+', new_project_task_path(@project), :class => "newtask" %>
<div class="hor_separator"></div>
<%= render @project.tasks.where(state: "finished") %>
</div>
