html, body {
  padding: 0;
  margin: 0;
  //background-color: #3598DC;
  font-family: sans-serif;
}

p {
  padding: 4px;
  margin: 4px;
}

input, textarea {
  margin: 2px;
  padding: 5px 10px;
  width: 80%;
}

label {
  margin: 5px;
}

input[type=checkbox] {
  width:auto;
}

.uniheader h1{
  text-align: center;
}

a {
  color: #3598DC;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 4px;
}

.alert, #error_explanation {
  background-color: #E84C3D;
  color: #ECF0F1;
  //border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 20px;
}

.notice {
  background-color: #F2C40F;
  color: #ECF0F1;
  //border: 1px solid orange;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 20px;
}

.userinfo {
  border-left: 1px solid #ECF0F1;
  border-right: 1px solid #ECF0F1;
}

.home {
  font-weight: bold;
}

.project_item {
  margin: 20px;
  padding: 20px;
  background-color: #ECF0F1;
  border-radius: 4px;
}

.project_item_title {
  margin-bottom: 0;
}

.project_links {
  margin-top: 0;
}

.header {
  margin: 0;
  padding: 10px 40px;
  background-color: #ECF0F1;
  border-radius: 4px;
}

.header h1 {
  margin-bottom: 0;
  margin-top: 5px;
}

.project_item_title {
  font-size: 20pt;
}

.delete {
  color: #E84C3D;
}

.loginbox{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  background: #ECF0F1;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #BEC3C7;
}

.editbox{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  background: #ECF0F1;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #BEC3C7;
}

.topbar{
  background-color: #3598DC;
  //width: 100%;
  height: auto;
  padding: 10px;
  color: #ECF0F1;
  border-bottom: 4px solid #ECF0F1;
  font-size: 14pt;
}

.topbar a{
  color: #ECF0F1;
}

.topbar span {
  //height:100%;
  padding: 10px;
}

.topbar span:hover{
  background-color: #65acdc;
}

.taskscontainer h2 {
  margin: 0px 20px;
  color: #da3624;
}

.taskscontainer {
  margin: 20px;
}

.task_item {
  width: 280px;
  height: 280px;
  background: #3598DC;
  margin: 20px;
  float:left;
  padding: 10px;
  border-radius: 5px;
}

.newtask {
  display: inline-block;
  float: left;
  width: 280px;
  height: 280px;
  border: 10px solid #3598DC;
  text-align: center;
  line-height: 280px;
  font-size: 200pt;
  margin: 20px;
  border-radius: 5px;
}

.task_item a {
  color: #ECF0F1;
}

.task_item.overdue a.delete, .task_item.soon_tm a.delete {
  color: #F39C11;
}

.task_item.finished_bg a.delete {
  color: #F39C11;
}

a.delete {
  color: #E84C3D;
}

.soon_tm {
  background-color: #F39C11;
  color: #ECF0F1;
}

.overdue {
  background-color: #E84C3D;
  color: #ECF0F1;
}

.task_info{
  height:80px;
}

.task_info p {
  padding:0;
}
.task_description {
  height:160px;
}

.task_edit_buttons {
  height: 40px;
  width:100%;
  background-color: #146484/*#424242*/;
  padding: 0 10px;
  margin-left: -10px;
  margin-top: 2px;
  border-radius: 0 0 5px 5px;
}

.soon_tm.finished_bg .task_edit_buttons, .finished_bg .task_edit_buttons {
  background-color: #209853;
}

.soon_tm .task_edit_buttons {
  background-color: #A76B0D;
}

.overdue .task_edit_buttons {
  background-color: #BB392D;
}

.task_edit_buttons a {
  float:left;
  display:block;
  width: 50%;
  height: 100%;
  text-align: center;
  line-height:40px;
}
.open {
  border-bottom: 2px solid #3598DC;
  padding-bottom: 4px;
}

.inprogress {
  border-bottom: 2px solid #F2C40F;
  padding-bottom: 4px;
}

.finished {
  border-bottom: 2px solid #2ECD71;
  padding-bottom: 4px;
}

.overduestat {
  border-bottom: 2px solid #E84C3D;
  padding-bottom: 4px;
}

.finished_bg {
  background-color: #2ECD71;
}

.hor_separator {
  clear: both;
  background-color: #ECF0F1;
  height: 2px;
  border-radius: 2px;
}
