<!DOCTYPE html>
<html>
<head>
  <meta data-app-slug="752-rocky-richard">
  <title>UniTasks Web</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
<div class="topbar">
  <span class="home"><%= link_to 'UniTasks Web', root_path %></span>
  <span class="userinfo">Hello <%= link_to current_user.firstname, edit_user_registration_path %>!</span>
  <span class="userlogout"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></span>
</div>
<% end %>
<% if !notice.nil? %>
<p class="notice"><%= notice %></p>
<% end %>
<% if !alert.nil? %>
<p class="alert"><%= alert %></p>
<% end %>
<% if !current_user %>
<div class="uniheader"><h1>UniTasks Web</h1></div>
<% end %>
<%= yield %>
</body>
</html>
